{% extends "order/base.html" %}
{% load static %}
{% block content %}


<section class="section">
    <div class="container">

      <!-- Cart Table Start -->
      <table class="ct-responsive-table">
        <thead>
          <tr>
            <th class="remove-item"></th>
            <th>Product</th>
            <th>Price</th>
            <th>Qunantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders%}
          <tr>
            <td class="remove">
              <button type="button" class="close-btn close-danger remove-from-cart">
                <span></span>
                <span></span>
              </button>
            </td>
            <td data-title="Product">
              <div class="cart-product-wrapper">
                <img src="{{order.pizza.pizza_image.url}}" alt="prod1">
                <div class="cart-product-body">
                  <h6> <a href="#">{{order.pizza.pizza_name}}</a> </h6>
                  {% for top in order.extra.all%}
                  <p>{{top.name}}</p>
                  {%endfor%}
                </div>
              </div>
            </td>
            <td data-title="Price"> <strong>{{order.pizza.price}}Rs</strong> </td>
            <td class="quantity" data-title="Quantity">
              {{order.quantity}}
            </td>
            <td data-title="Total"> <strong>{{order.order_price}}Rs</strong> </td>
          </tr>
          {%endfor%}

        </tbody>
      </table>
      <!-- Cart Table End -->
    </div>
</section>


{% endblock %}